<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd">
	<!--  数据源， sessionFactory，hibernate事务  -->
	
	<!-- 加载jdbc.properties文件  -->
	<context:property-placeholder location="classpath:hibernate/jdbc.properties"/>
	
	<!-- 使用dbcp数据库连接池，配置数据源 -->
	<bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource">
		<property name="driverClassName" value="${jdbc.Driver}"/>  
        <property name="url" value="${jdbc.url}"/>  
        <property name="username" value="${jdbc.username}"/>  
        <property name="password" value="${jdbc.password}"/>  
	</bean>
	
	<!-- 构建sessionFacory -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<!-- 加载数据源 -->
		<property name="dataSource" ref="dataSource"></property>
		<!-- 加载hibernate核心配置文件 -->
		<property name="configLocations" value="classpath:hibernate/hibernate.cfg.xml"></property>
		<!-- 加载映射文件  -->
		<property name="packagesToScan" value="com.zhiyou.pojo"></property>
	</bean>
	
	<!-- hibernate事务管理 -->
	<bean id="txManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	   
	<tx:annotation-driven transaction-manager="txManager"/>
	      
	
</beans>