<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">
 	<!-- 配置：扫描controller包，注解驱动(handlerMapping，handlerAdapter)
 		 视图解析器，静态资源放行，拦截器。。 -->
 
 	<context:component-scan base-package="com.zhiyou.controller"></context:component-scan>
 
 	<mvc:annotation-driven/>
 	
 	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
 		<property name="prefix" value="/"></property>
 		<property name="suffix" value=".jsp"></property>
 	</bean> 
 	
 	<mvc:default-servlet-handler/>
 
 	<!-- 使用注解配置授权  -->
 	<!-- 开启shiro自动代理 -->
 	<bean name="defaultAdvisorAutoProxyCreator" class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator">
		 <!-- 指定强制使用cglib为action创建代理对象 -->
		<property name="proxyTargetClass" value="true"></property>
	</bean>
	
	  <!-- 配置切面类 -->
	<bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor"></bean>
 
 	<!-- 配置异常解析器  -->
 	<bean class="com.zhiyou.exception.MyHandlerException"></bean>
 
 </beans>